# Virtuelle Umgebungen ignorieren
venv/
env/

# Python Cache-Dateien ignorieren
__pycache__/
*.pyc
*.pyo

# Betriebssystem-Müll ignorieren (z.B. von Mac oder Windows)
.DS_Store
Thumbs.db

# Lokale Miner-Konfiguration ignorieren
config.json

# PyCharm Einstellungen ignorieren
.idea/